#content {
    width:800px;
    margin:auto;
}
a {
    color: blue;
  
    
}    
a:hover {
    color: green;
    text-decoration: underline;
}
body {
  font-family: Avenir-Book, Avenir;
  color: rgb(160,160,160);
  font-size: 12px;
}
h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
    colour: red;
}

h3 {
    text-align: center;
    
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  
}
.modal-content {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0.5rem 1.0rem;
    width: 15rem;
    border-radius: 0.5rem;
    text-align: justify;
    border: 1px solid black;
    font-family: Avenir-Book, Avenir;
    font-size: 12px;
    color: black;
}
.modal-content img {
    width: 14.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 20px;
    
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


.ticketWarning {
    color: red;
}

#map {
    margin-top: 5vh;
    width: 90vw;
    height: 90vh;
    margin-left: 5vw;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: absolute;
}

.exhibit {
    text-align:center;
    font-size: 16px;
    color: black;
    font: a
    
}